---
import Layout from "../../layouts/Layout.astro";
import Hero from "../../components/blog/Hero.astro";
import Tags from "../../components/blog/Tags.astro";
import ListPosts from "../../components/blog/ListPosts.astro";
const pageTitle = "JERSEY CLUB IO | New Jersey Social Media Game";
const description = "Social media got boring, so the Wizard of Hahz created a social media network of games for content creators on blockchain.";
const ogimage ={
    url: "/images/blogimage.png",
    alt: "Jersey Club Social Media Challenge Game"
};
---

<Layout  pageTitle={pageTitle} description={description} ogimage={ogimage}>
   
    <Hero />
    <Tags />
    <div class="px-8 max-sm:px-4">
        <ListPosts />
    </div>

</Layout>
