---
import ExperienceItem from "./ExperienceItem.astro";
import Heading from "../ui/Heading.astro";
import { Icon } from "astro-icon/components";

const EXPERIENCE = [
  {
    date: "2020",
    title: "🃏 First Tokenized Real Estate",
    company: "🧙🏼‍♂️ Wizard of Hahz",
    description:
      "Jersey’s own Wizard of Hahz made blockchain history by tokenizing a $33M real estate property in Mexico — the first real-world asset (RWA) to be turned into an NFT, granting the buyer ownership of both the physical and digital land through a single token.",
  },
  {
    date: "2021",
    title: "🎰 Tokenized Atlantic City Casinos",
    company: "BLKLUV.ORG",
    description:
      "In 2021, the Wizard of Hahz tokenized all of Atlantic City's casinos on the Polygon blockchain — selling the NFT to an anonymous buyer for $15K in under 5 days, with zero PR or promotion.",
  },
    {
    date: "2025",
    title: "📍 Tokenized ReelView",
    company: "ACYFUN.IO",
    description:
      "ACYFUN tokenized the the first slumlord recorded on blockchain as a rental ReelView based out of Atlantic City.",
  },
];
---

<section class="py-8 px-8 max-md:py-4 mb-4 scroll-m-16" id="experience">
  <div class="flex flex-col pt-8 max-w-4xl mx-auto">
    <div class="flex gap-4 items-center justify-center">
      <Icon class="text-3xl dark:text-white text-blacktext" name="briefcase" />
      <Heading text="NJ Blockchain" textGradient="History" level={2} />
    </div>

    <div class="relative max-md:mt-0 mt-8" aria-label="Professional experience">
      <ol class="relative mt-10">
        {
          EXPERIENCE.map((experience, index) => (
            <li>
              <article
                role="article"
                aria-labelledby={`experience-title-${index}`}
              >
                <div
                  class="flex flex-col gap-2  text-zinc-00 dark:text-zinc-300 md:col-span-3"
                  aria-describedby={`experience-title-${index}`}
                >
                  <ExperienceItem {...experience} />
                </div>
              </article>
            </li>
          ))
        }
      </ol>
    </div>
  </div>
</section>
