---
import ExperienceItem from "./ExperienceItem.astro";
import Heading from "../ui/Heading.astro";
import { Icon } from "astro-icon/components";

const EXPERIENCE = [
  {
    date: "2020",
    title: "🃏 First Tokenized Real Estate",
    company: "🧙🏼‍♂️ Wizard of Hahz",
    description: "Orange, New Jersey: In 2020 Wizard of Hahz made blockchain history by tokenizing a $33M real estate property in Cabo, Mexico — the first real-world asset (RWA) to be turned into an NFT, granting the buyer ownership of both the physical and digital land through a single token. Also the first Uber driver to accept an NFT with no middleman for their driver services happened in Cabo, Mexico."
  },
  {
    date: "2021",
    title: "🎰 Tokenized Atlantic City Casinos",
    company: "BLKLUV.ORG",
    description: "In 2021, the Wizard of Hahz 🧙♂️ made crypto history by tokenizing Atlantic City's entire casino district on Polygon blockchain. 🏦✨ The collection of 1-of-1 digital assets sold to an anonymous buyer for $15K in just five days — with zero marketing or promotion. 🔥 Today, these NFTs could re-enter the market at 100K+ per casino 🎰💰, as verified digital twins of America's original gambling capital. (And yes, Las Vegas casinos got tokenized after... 😉)"
  },
  {
    date: "2025",
    title: "📍 Atlantic City Fun Reels",
    company: "ACYFUN.IO",
    description: "ACYFUN promote fun things to do in Atlantic City 📍 mapped to the three-word address (///example.rental.slumlord). Follow @ACYFUN on TikTok and stay tapped in with all the fun things to do in Atlantic City, New Jersey."
  }
];
---

<section class="py-8 px-8 max-md:py-4 mb-4 scroll-m-16" id="experience">
  <div class="flex flex-col pt-8 max-w-4xl mx-auto">
    <div class="flex gap-4 items-center justify-center">
      <Icon class="text-3xl dark:text-white text-blacktext" name="briefcase" />
      <Heading text="Jersey Block" textGradient="Story" level={2} />
    </div>

    <div class="relative max-md:mt-0 mt-8" aria-label="Professional experience">
      <ol class="relative mt-10 space-y-8">
        {EXPERIENCE.map((experience, index) => (
          <li key={`experience-${index}`}>
            <article
              role="article"
              aria-labelledby={`experience-title-${index}`}
              class="group"
            >
              <div
                class="flex flex-col gap-2 text-zinc-600 dark:text-zinc-300 md:col-span-3"
                aria-describedby={`experience-title-${index}`}
              >
                <ExperienceItem {...experience} />
              </div>
            </article>
          </li>
        ))}
      </ol>
    </div>
  </div>
</section>